body {
  font-family: 'Poppins', sans-serif;
}

h2::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #00E5FF;
  margin: 10px auto;
  border-radius: 10px;
  animation: lineGrow 1s ease forwards;
}

@keyframes lineGrow {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #00E5FF;
  border-radius: 10px;
}
